---
export const prerender = false;
import { ViewTransitions } from 'astro:transitions';
import Layout from './Layout.astro';
interface Props {
	title: string;
	sideBarPos: number;
}

const { title, sideBarPos } = Astro.props;

let home: string, orders: string, newOrder: string, support: string;

switch (sideBarPos) {
	case 0:
		home = 'active';
		break;
	case 1:
		orders = 'active';
		break;
	case 2:
		newOrder = 'active';
		break;
	case 3:
		support = 'active';
		break;
	default:
		break;
}

const res = await fetch(Astro.url.origin + '/api/auth/userLoggedIn', {
	method: 'POST',
	headers: { Accept: 'application/json' },
	body: JSON.stringify({ userId: Astro.cookies.get('userId').value.split('*SID-')[0] }),
});
const user = await res.json();

let rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu');
let initials: any = [...user.displayName.matchAll(rgx)] || [];
initials = ((initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')).toUpperCase();
---

<Layout title={title}>
	<main>
		<div class='sidebar'>
			<div class='logo' transition:persist>
				<img src='/images/OIG_trim.png' />
				<span>PolarTec</span>
			</div>
			<ul class='list'>
				<li class:list={home}>
					<a href='/dashboard/home'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							width='18'
							height='18'
							viewBox='0 0 24 24'
							fill='none'
							stroke='currentColor'
							stroke-width='2'
							stroke-linecap='round'
							stroke-linejoin='round'
							class='feather feather-home'>
							<path d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z'></path>
							<polyline points='9 22 9 12 15 12 15 22'></polyline>
						</svg>
						<span>Home</span>
					</a>
				</li>
				<li class:list={orders}>
					<a href='/dashboard/orders'>
						<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 20 20' height='18px' viewBox='0 0 20 20' width='18px' fill='#FFFFFF'
							><rect fill='none' height='20' width='20'></rect><path
								d='M18,7.5h-7V6h7V7.5z M18,12.5h-7V14h7V12.5z M3.06,5.11L2,6.17L4.83,9l4.6-4.6L8.36,3.34L4.83,6.88L3.06,5.11z M3.06,11.61 L2,12.67l2.83,2.83l4.6-4.6L8.36,9.84l-3.54,3.54L3.06,11.61z'
							></path></svg
						>
						<span>Orders</span>
					</a>
				</li>
				<li class:list={newOrder}>
					<a href='/dashboard/new-order'>
						<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'
							><path
								d='M128-324v-75h280v75H128Zm0-158v-75h437v75H128Zm0-157v-75h437v75H128Zm512 472v-157H483v-75h157v-158h75v158h158v75H715v157h-75Z'
							></path></svg
						>
						<span>New Order</span>
					</a>
				</li>
				<li class:list={support}>
					<a href='/dashboard/support'>
						<svg xmlns='http://www.w3.org/2000/svg' height='18px' viewBox='0 0 24 24' width='18px' fill='#FFFFFF'
							><path d='M0 0h24v24H0V0z' fill='none'></path><path
								d='M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z'
							></path></svg
						>
						<span>Support</span>
					</a>
				</li>
			</ul>

			<div class='account' transition:persist>
				<div class='pfp'>{initials}</div>
				<div class='name'>{user.displayName}</div>
				<a class='info' href='/settings'>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						width='24'
						height='24'
						viewBox='0 0 24 24'
						fill='none'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
						class='feather feather-more-horizontal'
						><circle cx='12' cy='12' r='1'></circle><circle cx='19' cy='12' r='1'></circle><circle cx='5' cy='12' r='1'></circle></svg
					>
				</a>
			</div>
		</div>
		<slot />
	</main>
	<ViewTransitions />
</Layout>

<style lang='scss'>
	main {
		display: flex;
		width: 100dvw;
		height: 100dvh;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		background-color: var(--background-light);
		height: 100%;
		min-width: 240px;
		max-width: 240px;

		.logo {
			display: flex;
			justify-content: center;
			padding: 10px 0;
			align-items: center;
			gap: 16px;
			width: 100%;
			border-bottom: 2px solid var(--background-lighter);

			img {
				width: 56px;
				height: auto;
			}

			span {
				font-size: 22px;
				font-weight: 200;
			}
		}

		.list {
			margin-top: 10px;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			list-style-type: none;
			padding: 0;

			li {
				position: relative;
				margin-bottom: 8px;
				transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
				max-width: 240px;

				svg {
					margin-right: 8px;
					filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(164%) hue-rotate(282deg) brightness(115%) contrast(87%);
				}

				a {
					display: flex;
					align-items: center;
					max-width: 240px;
					padding: 10px 16px;
					text-decoration: none;
					font-size: 16px;
					line-height: 26px;
				}

				&:hover {
					background-color: var(--background-lighter);
				}

				&.active {
					background-color: var(--background-lighter);

					&::before {
						content: '';
						position: absolute;
						right: 0;
						background-color: var(--accent);
						height: 100%;
						width: 4px;
					}
				}
			}
		}

		.account {
			border-top: 2px solid var(--background-lighter);
			display: flex;
			align-items: center;
			width: 100%;
			height: 60px;
			gap: 20px;
			padding: 6px 0;

			.pfp {
				display: flex;
				height: 40px;
				aspect-ratio: 1/1;
				justify-content: center;
				align-items: center;
				font-size: 17px;
				border-radius: 50%;
				background-color: rgba(120, 89, 230, 1);
				margin-left: 10%;
			}

			.name {
				font-size: 18px;
			}

			.info {
				background-color: transparent;
				border: 0;
				outline: 0;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex: 1;
				margin-right: 10%;
			}
		}
	}
</style>
